.header-div {
    margin: 0;
    color: #fee2c5;
    text-align: center;
    align-items: center;
    background-color: #001d6e;
    padding: 60px 25% 0 25%;
  }
  
  .vcard-header {
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }
  
  .img-wrap {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  
  .img-wrap img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    padding: 0.5rem;
  }
  
  .title h2,
  h6 {
    margin-bottom: 0.75rem;
    text-shadow: 1px 1px 1px black;
    font-weight: 500;
  }
  
  .btn-div {
    padding-left: 12px;
    /* margin-left: 12px; */
    width: 100%;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .mbtn {
    text-decoration: none;
    cursor: pointer;
    color: #fee2c5;
    fill: #fee2c5;
    padding: 15px 0;
    align-items: center;
    text-align: center;
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .mbtn:hover {
    background-color: #3F72AF;
    fill: #001d6e;
    color: #001d6e !important;
  }
  
  .mbtn small {
    padding: 10px;
  }
  
  